{% extends 'catalog/base.html'%}
{% block content %}
    <div class="row text-center">
        <div class="col-12 row">
            <div class="col-4"></div>
            <form class="col-4" method="post" enctype="multipart/form-data">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header"></div>
                            <h3 class="card-title">Вход</h3>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">Войти</button>
                            <hr>
                            <a class="btn btn-danger" href="{% url 'users:password_reset' %}">Восстановление пароля</a>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </form>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}
